body{
	font-family: 'Montserrat', sans-serif;
	
}



{
  box-sizing: border-box;
}

form.searchForm input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.searchForm button {
  float: left;
  width: 120px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  height: 40px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchForm button:hover {
  background: #1a86db;
  transition: 0.3s;

}

form.searchForm::after {
  content: "";
  clear: both;
  display: table;
}
.fas {
	color: black;
}
.navbar-brand{
	background-color: #DBA505;
  border: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
}

.navbar-brand:hover {opacity: 1;}
.text-center:hover{
 transition: 0.3s;
color:#ccc;
}
#movies img, #movie img{
	max-width: 250px;
	height: 400px;
}


@media(min-width: 960px;){


	#movies .col-md-3 .well{
		height: 390px;
		width: 400px;
		
	}

	#movies . col-md-3 img{
		height: 240px;
	}
}